@model RecipeViewModel
@using CookItBook.Models

@{
    ViewData["Title"] = "AddRecipeView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12">
    <h2>AddRecipeView</h2>
    <button type="button" class="btn btn-primary" id="blue" onclick="color(blue)">Blue</button>
    <button type="button" class="btn btn-dark" id="black" onclick="color(black)">Black</button>
    <button type="button" class="btn btn-default" id="white" onclick="color(white)">White</button>
    <button type="button" class="btn btn-success" id="green" onclick="color(green)">Green</button>
</div>

<div class="col-lg-12">
    <form asp-action="AddRecipe" class="col-lg-12" id="recipeForm" onsubmit="return formVals()">
        <div class="col-sm-4">
            <div class="row form-group">
                <div class="col-sm-4 col-md-6 col-lg-10">
                    <label>Recipe Name</label>
                    <textarea rows="1" cols="60" wrap="hard" name="Name" id="Name" class="form-control green" onkeyup="new do_resize(this);" onkeypress="handleEnter(event, this, true)"></textarea>

                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4 col-md-6 col-lg-10">
                    <label>Ingredients</label>
                    <textarea rows="1" cols="60" wrap="hard" name="ingredientCSV" id="ing" class="form-control green" onkeyup="new do_resize(this);" onkeypress="handleEnter(event, this, false)"></textarea>
                </div>

            </div>
            <div class="row form-group">
                <div class="col-sm-4 col-md-6 col-lg-10">
                    <label>Instructions</label>
                    <textarea rows="1" cols="60" wrap="hard" id="ins" name="instructionCSV" class="form-control green" onkeyup="new do_resize(this);" onkeypress="handleEnter(event, this, false)"></textarea>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <input name="GlutenFree" type="checkbox" value="true" /> Gluten Free
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <input name="DairyFree" type="checkbox" value="true" /> Dairy Free
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <input name="Vegetarian" type="checkbox" value="true" /> Vegetarian
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <input name="Vegan" type="checkbox" value="true" /> Vegan
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <input name="Nuts" type="checkbox" value="true" /> Has Nuts
                </div>
            </div>
            <div class="col-md-12">
                <input type="submit" value="Save" class="col-md-12 btn-primary" />
            </div>
        </div>


        <div class="col-sm-4 form-group">
            <label>Ingredient List</label>
            <ol id="dynamic-list-ing" class="list-group" name="Ingredients"></ol>
        </div>
        <div class="col-sm-4 form-group">
            <label>Instruction List</label>
            <ol id="dynamic-list-ins" class="list-group" name="Instructions"></ol>
        </div>
    </form>
</div>